# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/
dist/
dist-ssr/
*.local
alem_cafe_backend/node_modules

alem_cafe_frontend/node_modules
alem_cafe_backend/dist
alem_cafe_frontend/npm-cache
alem_cafe_frontend/dist
alem_cafe_frontend/dist-ssr
alem_cafe_frontend/.env.local
alem_cafe_frontend/.env.development.local
alem_cafe_frontend/.env.test.local
alem_cafe_frontend/.env.production.local
alem_cafe_frontend/.env
alem_cafe_backend/.env.local
alem_cafe_backend/.env.development.local
alem_cafe_backend/.env.test.local
alem_cafe_backend/.env.production.local
alem_cafe_backend/.env  